body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Verdana, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    padding: 0 16px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    gap: 16px; 
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.hero-text {
    width: 400px;
}

.hero-image{
  width: 400px;
  height: 250px;
  background-color: #5d6774;
  flex-shrink: 0;
}

.hero-main-text {
    font-size: 48px;
    column-gap: #F9FAF8;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.container1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.container2 {
    padding: 40px;
    padding-bottom: 60px;
}

.container3 {
    background-color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 10px 15px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-size: 12px;
}

.info-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.boardgame-container {
    display: flex;
    gap: 40px 80px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.boardgame {
    width: 400px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    color: #222222;
}

.boardgame img {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid #3882F6;
}